---
layout: single
classes: wide
---

<p>I am a Robotics Research Engineer at <b>Ocado Technology</b> working on robotic manipulation and grasping. I was previously a Robotics Research Engineer at <b>Arrival</b> working on mobile robots for industrial automation. Before that I was a Postdoctoral Researcher at the <b>University of Oxford</b> where I worked on perceptive (i.e. camera-based) Optimal Control and Reinforcement Learning (RL) for legged locomoton. I hold a PhD degree from the <b>Italian Institute of Tecnology (IIT)</b> where I discussed my dissertation on simplified dynamic models for quadrupedal locomotion. </p>

<p>Please feel free to navigate through the site to find out more about me!</p>

<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=7034437&style=0025&nbdigits=6&type=page&initCount=0" title="install tracking codes" Alt="install tracking codes"   border="0" >
</a>


