---
layout: single
classes: wide
---

<p>I am a Master’s student in <b>Computational Mechanics</b> at <b>RWTH Aachen University</b>. I am currently employed as an <b>Intern - Developer</b> at <b>Simulia Dassault Systemes</b>, a <b>Research Assistant</b> at <b>APS GmbH (European Center for Mechatronics)</b> and a <b>Software Developer - Robot Software Framework</b> at <b>Carologistics - Robocup Logistics League team</b>. I am also currently doing my Mini-thesis at the Institute for General Mechanics, RWTH Aachen on '<b>Constitutive Viscoplastic Modeling using Artificial Neural Networks</b>'.</p>

<p>Please feel free to navigate through the site to find out more about me.</p>

<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=7034437&style=0025&nbdigits=6&type=page&initCount=0" title="install tracking codes" Alt="install tracking codes"   border="0" >
</a>


