---
layout: single
classes: wide
---

<p>I am Robotics Research Engineer at [<b>Arrival</b>](https://arrival.com/). I was previously a Postdoctoral Researcher at the <b>University of Oxford</b> and a PhD student at the <b>Italian Institute of Tecnology (IIT)</b>. 

<p>Please feel free to navigate through the site to find out more about me.</p>

<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=7034437&style=0025&nbdigits=6&type=page&initCount=0" title="install tracking codes" Alt="install tracking codes"   border="0" >
</a>


